body{
  background-image:url("../img/daenerystargaryen-1553254960481-3512.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:local;
  padding-top:5%;
  font-family:'Crimson Text', serif;
  padding-bottom:5%;
}

.box{
  background-color:#333;
  opacity:0.75;
  margin:auto;
  padding:2%;
  padding-bottom:70px;
  border-radius:5px;
  width:35%;
  min-width:320px;
  height:auto;
  border:silver 1px solid;
}

.quote{
  
}

.author{
  text-align:right;
  margin-bottom:5%;
  margin-top:2%;
  font-size:1.2em;
}

.btn-primary{
  background-color:silver;
  border-color:#silver;
  color:black;
  font-size:1.2em;
}

.text-center{
  color:silver;